<p> New des posts: app/views/posts/new.html.erb </p>
<h1>New post</h1>

<%= render 'form' %>

<%= link_to 'Back to the posts', posts_path %>
<!-- the following edit redirects to custom pathes ( the index of the App instead of the 'posts_path') (> cause I often add notes by 10s' ;D ) -->
<%= link_to 'Back to root using "root_url"', root_url %>
<%= link_to 'Back to root using ":root"', :root %>

